fastapi[all]
pydantic
sqlalchemy
python-dotenv
uvicorn
langchain
openai
psycopg2-binary
langchain_openai
pika
python-jose
python-multipart
wordcloud
websockets
transformers
torch
starlette
fastapi-utils
asyncpg
pillow