.cc-character-card {
  flex: 0 0 calc(100% / 6); /* 정확히 6등분 */
  min-width: 200px;
  /* 나머지 스타일은 유지 */
  background: var(--side);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.cc-character-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px var(--purple-light-2);
}

.cc-character-image {
  width: 100%;
  height: 200px; /* 원하는 높이 값으로 조정 가능 */
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  max-width: 100%;
  box-shadow: 0px 5px 3px -2px var(--bg);
}

.cc-character-info {
  margin-top: 10px;
  width: 100%;  /* 텍스트 컨테이너 너비를 이미지와 동일하게 */
  max-width: 100%;  /* 텍스트가 넘치지 않도록 */
  margin-top: 10px;
  padding: 0px 15px 20px 15px;
}

.cc-character-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--white);
}

.cc-character-description {
  font-size: 14px;
  color: var(--white-60);
  word-break: break-word;
  overflow: hidden;
  max-height: 3.6em;  /* 3줄 제한 (1줄 약 1.2em) */
  line-height: 1.2em;  /* 줄 간격 */
  text-align: left;
}


.cc-card-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cc-character-cards {
  display: flex;
  gap: 20px;
  overflow-x: hidden; /* 가로 스크롤만 숨김 */
  overflow-y: visible; /* 세로 스크롤은 허용 */
  scroll-behavior: smooth;
  position: relative;
  padding: 10px 0;
  flex-wrap: nowrap; /* 줄바꿈 방지 */
}